<script>
    $(document).ready(function () {
        //$('#friends_table').DataTable();
    });
</script>


<div role="main" class="ui-content">
  <h2>Approved Friends</h2>
  <%= link_to 'Create a new friend', new_friend_path, :class => 'ui-btn ui-btn-inline ui-corner-all' %>

  <table data-role="table" data-mode="reflow" class="friends-list ui-responsive" id="friends_table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
    </tr>
    </thead>

    <tbody>
    <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= link_to friend.email, friend %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>