

<div class="row">
  <h1>Approved Friend</h1>
  <ul>
    <li>First Name: <%= @friend.first_name %></li>
    <li>Last Name: <%= @friend.last_name %></li>
    <li>Email: <%= @friend.email %></li>
  </ul>
</div>
