<div class="off-canvas-wrap" style="min-height: 500px" data-offcanvas>
  <div class="inner-wrap">
    <%= render 'layouts/top_bar' %>

    <ul>
      <% @basic_emails.each do |basic_email| %>
          <li>
            <p>From: <%= basic_email[:sender] %></p>
            <p>Subject: <a href=<%= "/emails/#{basic_email[:id]}" %>><%= basic_email[:subject] %></a></p>
          </li>
      <% end %>
    </ul>
  </div>
</div>
