<%= render 'layouts/top_bar' %>

<div class="row">
  <div class="large-3 columns">
    <ul class="tabs vertical regular" data-tab>
      <li style="list-style: none">Mailboxes</li>
      <li class="tab-title active"><a id="inbox-title" href="#panel1">Inbox</a></li>
      <li class="tab-title"><a id="sent-title" href="#panel2">Sent</a></li>
      <li class="tab-title"><a id="archived-title" href="#panel3">Archived</a></li>
      <li class="tab-title"><a id="blacklisted-title" href="#panel4">Blacklisted</a></li>
    </ul>
  </div>

  <div class="large-9 columns">
    <div class="tabs-content">
      <div class="content active" id="panel1">
        <div id="regular-inbox">
        </div>
      </div>
      <div class="content" id="panel2">
        <div id="regular-sent">
        </div>
      </div>
      <div class="content" id="panel3">
        <div id="regular-archived">
        </div>
      </div>
      <div class="content" id="panel4">
        <div id="regular-blacklisted">
        </div>
      </div>
    </div>
  </div>
</div>