<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <%= render 'layouts/top_bar' %>

    <div class="left-off-canvas-menu">
      <ul class="tabs vertical small" data-tab>
        <li class="tab-title active"><a id="inbox-title" href="#panel1">Inbox</a></li>
        <li class="tab-title"><a id="sent-title" href="#panel2">Sent</a></li>
        <li class="tab-title"><a id="archived-title" href="#panel3">Archived</a></li>
        <li class="tab-title"><a id="blacklisted-title" href="#panel4">Blacklisted</a></li>
      </ul>
    </div>

    <a class="exit-off-canvas"></a>

    <div class="tabs-content row">
      <div class="content active" id="panel1">
        <div id="small-inbox">
        </div>
      </div>
      <div class="content" id="panel2">
        <div id="small-sent">
        </div>
      </div>
      <div class="content" id="panel3">
        <div id="small-archived">
        </div>
      </div>
      <div class="content" id="panel4">
        <div id="small-blacklisted">
        </div>
      </div>
    </div>
  </div>


</div>
