<div class="off-canvas-wrap" style="min-height: 500px" data-offcanvas>
  <div class="inner-wrap">
    <%= render 'layouts/top_bar' %>

    <div class="left-off-canvas-menu">
      <ul class="tabs vertical small" data-tab>
        <li class="tab-title active"><a class="inbox-title" href="#panel1">Inbox</a></li>
        <li class="tab-title"><a class="sent-title" href="#panel2">Sent</a></li>
        <li class="tab-title"><a class="archived-title" href="#panel3">Archived</a></li>
        <li class="tab-title"><a class="unapproved-title" href="#panel4">Unapproved</a></li>
      </ul>
    </div>

    <a class="exit-off-canvas"></a>

    <div class="tabs-content row">
      <div class="content active" id="panel1">
        <div class="inbox">
        </div>
      </div>
      <div class="content" id="panel2">
        <div class="sent">
        </div>
      </div>
      <div class="content" id="panel3">
        <div class="archived">
        </div>
      </div>
      <div class="content" id="panel4">
        <div class="unapproved">
        </div>
      </div>
      <br><br><br>
    </div>
  </div>


</div>
