<div class="show-for-large-up">
  <%= render 'regular_mailboxes' %>
</div>
<div class="show-for-medium-down">
  <%= render 'small_mailboxes' %>
</div>

<script type="text/template" id="inbox-template">
  <%% if (emails.length > 0) { %>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>From</th>
      <th>Subject</th>
    </tr>
    </thead>

    <tbody>
    <%% _.each(emails, function(email) { %>
    <tr>
      <td><%%= email.get('friendly_date') %></td>
      <td><%%= email.get('from') %></td>
      <td><a href="/emails/<%%=email.get('id')%>"><%%= email.get('subject') %></a></td>
    </tr>
    <%% }); %>
    </tbody>
  </table>
  <%% } else { %>
  <div data-alert class="alert-box info">
    There are no messages in the inbox right now
  </div>
  <%% } %>
</script>

<script type="text/template" id="sent-template">
  <%% if (emails.length > 0) { %>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>To</th>
      <th>Subject</th>
    </tr>
    </thead>

    <tbody>
    <%% _.each(emails, function(email) { %>
    <tr>
      <td><%%= email.get('friendly_date') %></td>
      <td><%%= email.get('to') %></td>
      <td><a href="/emails/<%%=email.get('id')%>"><%%= email.get('subject') %></a></td>
    </tr>
    <%% }); %>
    </tbody>
  </table>
  <%% } else { %>
  <div data-alert class="alert-box info">
    There are no sent messages right now
  </div>
  <%% } %>
</script>

<script type="text/template" id="archived-template">
  <%% if (emails.length > 0) { %>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>From</th>
      <th>Subject</th>
    </tr>
    </thead>

    <tbody>
    <%% _.each(emails, function(email) { %>
    <tr>
      <td><%%= email.get('friendly_date') %></td>
      <td><%%= email.get('from') %></td>
      <td><a href="/emails/<%%=email.get('id')%>"><%%= email.get('subject') %></a></td>
    </tr>
    <%% }); %>
    </tbody>
  </table>
  <%% } else { %>
  <div data-alert class="alert-box info">
    There are no archived messages right now
  </div>
  <%% } %>
</script>

<script type="text/template" id="blacklisted-template">
  <%% if (emails.length > 0) { %>
  <div data-alert class="alert-box alert">
    Blacklisted messages will be deleted after one week
  </div>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>From</th>
    </tr>
    </thead>

    <tbody>
    <%% _.each(emails, function(email) { %>
    <tr>
      <td><%%= email.get('friendly_date') %></td>
      <td><%%= email.get('from') %></td>
    </tr>
    <%% }); %>
    </tbody>
  </table>
  <%% } else { %>
  <div data-alert class="alert-box info">
    There are no blacklisted messages right now
  </div>
  <%% } %>

</script>

<script>

    var timer1, timer2;

    (function () {

        var EmailCollection = Backbone.Collection.extend({
            url: '/emails'
        });

        var inboxEmails = new EmailCollection();
        var sentEmails = new EmailCollection();
        var archivedEmails = new EmailCollection();
        var blacklistedEmails = new EmailCollection();

        var onFailure = function () {
        };
        var onSuccess = function () {
        };

        var updateEmailCount = function (selectorText, mailboxType, emailCount) {
            var elem;
            elem = $(selectorText); //.find("a").first();
            var regex = new RegExp(mailboxType + "( \\(\\d+\\))?");
            var newTitle = elem.html().replace(regex, mailboxType + " (" + emailCount + ")");
            elem.html(newTitle);
        };

        var SmallInboxView = Backbone.View.extend({
            el: '#small-inbox',
            render: function (emails) {
                var template = _.template($('#inbox-template').html(), {
                    that: this,
                    emails: emails.models
                });
                updateEmailCount("#inbox-title", "Inbox", emails.models.length);
                this.$el.html(template);
                $(document).foundation('tab', 'reflow');
            }
        });

        var RegularInboxView = Backbone.View.extend({
            el: '#regular-inbox',
            render: function (emails) {
                var template = _.template($('#inbox-template').html(), {
                    that: this,
                    emails: emails.models
                });
                updateEmailCount("#inbox-title", "Inbox", emails.models.length);
                this.$el.html(template);
                $(document).foundation('tab', 'reflow');
            }
        });

        var SmallSentView = Backbone.View.extend({
            el: '#small-sent',
            render: function (emails) {
                var template = _.template($('#sent-template').html(), {
                    that: this,
                    emails: emails.models
                });
                updateEmailCount("#sent-title", "Sent", emails.models.length);
                this.$el.html(template);
                $(document).foundation('tab', 'reflow');
            }
        });

        var RegularSentView = Backbone.View.extend({
            el: '#regular-sent',
            render: function (emails) {
                var template = _.template($('#sent-template').html(), {
                    that: this,
                    emails: emails.models
                });
                updateEmailCount("#sent-title", "Sent", emails.models.length);
                this.$el.html(template);
                $(document).foundation('tab', 'reflow');
            }
        });

        var SmallArchivedView = Backbone.View.extend({
            el: '#small-archived',
            render: function (emails) {
                var template = _.template($('#archived-template').html(), {
                    that: this,
                    emails: emails.models
                });
                updateEmailCount("#archived-title", "Archived", emails.models.length);
                this.$el.html(template);
                $(document).foundation('tab', 'reflow');
            }
        });

        var RegularArchivedView = Backbone.View.extend({
            el: '#regular-archived',
            render: function (emails) {
                var template = _.template($('#archived-template').html(), {
                    that: this,
                    emails: emails.models
                });
                updateEmailCount("#archived-title", "Archived", emails.models.length);
                this.$el.html(template);
                $(document).foundation('tab', 'reflow');
            }
        });

        var SmallBlacklistedView = Backbone.View.extend({
            el: '#small-blacklisted',
            render: function (emails) {
                var template = _.template($('#blacklisted-template').html(), {
                    that: this,
                    emails: emails.models
                });
                updateEmailCount("#blacklisted-title", "Blacklisted", emails.models.length);
                this.$el.html(template);
                $(document).foundation('tab', 'reflow');
            }
        });

        var RegularBlacklistedView = Backbone.View.extend({
            el: '#regular-blacklisted',
            render: function (emails) {
                var template = _.template($('#blacklisted-template').html(), {
                    that: this,
                    emails: emails.models
                });
                updateEmailCount("#blacklisted-title", "Blacklisted", emails.models.length);
                this.$el.html(template);
                $(document).foundation('tab', 'reflow');
            }
        });

        var smallInboxView = new SmallInboxView();
        var regularInboxView = new RegularInboxView();
        var smallSentView = new SmallSentView();
        var regularSentView = new RegularSentView();
        var smallArchivedView = new SmallArchivedView();
        var regularArchivedView = new RegularArchivedView();
        var smallBlacklistedView = new SmallBlacklistedView();
        var regularBlacklistedView = new RegularBlacklistedView();

        $.get("/emails/refresh");

        var updateInbox = function () {
            inboxEmails.fetch({
                data: {
                    mailbox_type: 'inbox'
                },
                success: function (emails) {
                    onSuccess();
                    smallInboxView.render(emails);
                    regularInboxView.render(emails);
                }
            });
        };

        var updateSent = function () {
            sentEmails.fetch({
                data: {
                    mailbox_type: 'sent'
                },
                success: function (emails) {
                    onSuccess();
                    smallSentView.render(emails);
                    regularSentView.render(emails);
                }
            });
        };

        var updateArchived = function () {
            archivedEmails.fetch({
                data: {
                    mailbox_type: 'archived'
                },
                success: function (emails) {
                    onSuccess();
                    smallArchivedView.render(emails);
                    regularArchivedView.render(emails);
                }
            });
        };

        var updateBlacklisted = function () {
            blacklistedEmails.fetch({
                data: {
                    mailbox_type: 'blacklisted'
                },
                success: function (emails) {
                    onSuccess();
                    smallBlacklistedView.render(emails);
                    regularBlacklistedView.render(emails);
                }
            });
        };

        updateInbox();
        updateSent();
        updateArchived();
        updateBlacklisted();
        timer1 = setInterval(function () {
            $.get("/emails/refresh").fail(onFailure()).success(onSuccess());
        }, 60000);
        timer2 = setInterval(function () {
            updateInbox();
            updateSent();
            updateArchived();
            updateBlacklisted();
        }, 15000);

        $(document).foundation();
    }());

</script>