<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= Mail.new(@email.body).parts[0].decoded %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
